<body>
 <h1>Editing Book</h1>

 <%= form_with model: @book, url: book_path(@book.id) ,method: :patch do |f| %>

 <p>Title</p>
  <a class="new-book-title"><%= f.text_field :title %></a>

 <p>Body</p>
  <a class="new-book-body"><%= f.text_area :body %></a>

 <a class="new-book-submit">
  <%= f.submit 'Update Book' %>
 </a>

 <% end %>

 <div class="link-btn">

  <%= link_to "Show", book_path(@book.id) %>|<%= link_to "Back", "/books" %>

 </div>
</body>